{% extends "linker2.html" %}

{% block page_content %}

{% load static %}



        

                        <!-- Register Content Start -->
                        <div class="col-lg-6">
                            <div class="login-reg-form-wrap mt-md-34 mt-sm-34">
                                <h2>Register</h2>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="single-input-item">
                                        <input type="text" name="firstname" id="firstname" placeholder="First Name" required />
                                    </div>

                                    <div class="single-input-item">
                                        <input type="text" name="lastname" id="lastname" placeholder="Last Name" required />
                                    </div>

                                    <div class="single-input-item">
                                        <input type="text" name="country" id="country" placeholder="Country" required />
                                    </div>

                                    <div class="single-input-item">
                                        <input type="text" name="phonenumber" id="phonenumber" placeholder="phonenumber" required />
                                    </div>
                                    
                                    <div class="single-input-item">
                                        <input type="email" name="email" id="email" placeholder="Enter your Email" required />
                                    </div>

                                    <div class="single-input-item">
                                        <input type="text" name="address" id="address" placeholder="address" required />
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="single-input-item">
                                                <input type="password" name="password" id="password"   placeholder="Enter your Password" required />
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-6">
                                            <div class="single-input-item">
                                                <input type="password" placeholder="Repeat your Password" required />
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="single-input-item">
                                        <div class="login-reg-form-meta">
                                            <div class="remember-meta">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="subnewsletter">
                                                    <label class="custom-control-label" for="subnewsletter">Subscribe Our Newsletter</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-input-item">
                                        <button class="sqr-btn" type="register">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Register Content End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- login register wrapper end -->

        <!-- brand area start -->
        <div class="brand-area pt-34 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title mb-30">
                            <div class="title-icon">
                                <i class="fa fa-crop"></i>
                            </div>
                            <h3>Popular Brand</h3>
                        </div> <!-- section title end -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="brand-active slick-padding slick-arrow-style">
                            <div class="brand-item text-center">
                                <a href="#"><img src="{% static '/img/brand/br1.png' %}" alt=""></a>
                            </div>
                            <div class="brand-item text-center">
                                <a href="#"><img src="{% static '/img/brand/br2.png' %}" alt=""></a>
                            </div>
                            <div class="brand-item text-center">
                                <a href="#"><img src="{% static '/img/brand/br3.png' %}" alt=""></a>
                            </div>
                            <div class="brand-item text-center">
                                <a href="#"><img src="{% static '/img/brand/br4.png' %}" alt=""></a>
                            </div>
                            <div class="brand-item text-center">
                                <a href="#"><img src="{% static '/img/brand/br5.png' %}" alt=""></a>
                            </div>
                            <div class="brand-item text-center">
                                <a href="#"><img src="{% static '/img/brand/br6.png' %}" alt=""></a>
                            </div>
                            <div class="brand-item text-center">
                                <a href="#"><img src="{% static '/img/brand/br4.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- brand area end -->

       



{% endblock %}